<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h1 class="text-danger">About Us</h1>
            <br>
            <p>The next version – Angular 2 – was written in Typescript, which is a popular, typed superset of JavaScript introduced by Microsoft.

                Typescript basically allowed Angular to show the errors in HTML templates. But, the main major feature which was added in the Angular 2 was a compiler that was deployed between written code and output shipped to the application.
                
                This new compiler used to optimize the production of template-rendering, which further allowed the code to execute at the maximum speed in JVMs (JavaScript Virtual Machines).
                
                The next version – Angular 4 – further saw view-engine enhancements and code generation reductions to build an app with less efforts and complexity.
                
                Now, before you ask, the primary reason behind skipping the number 3 was mainly to avoid a confusion that was raised because of the misalignment of the router package’s version that was already distributed as version 3.3.0.
                
                And within short period, they also released a minor upgrade – Angular version 4.3 – that featured HTTP Client, which is an easier-to-use library for creating HTTP requests.
                
                After that, Angular 5 was released in November 2017, which followed the releases of Angular 2 and Angular 4 closely which were launched in September 2016 and March 2017 respectively.
                
                The key feature of Angular 5 was the support for progressive web apps, and the main improvements included the enhancements in Material Design.
                
                Read More: How AngularJS extends HTML?
                
                Angular version 6 was then released in May 2018 and was mainly focused on toolchain and making it simple to migrate quickly to Angular, instead of focusing on underlying framework.
                
                The main updates in Angular 6 were ng update, Angular Material + CDK components, CLI Workspaces, Animations Performance Improvements, ng add, and Angular elements.
                
                And now, Google has finally released the Angular 7 on 18th October 2018. And the main updates in the latest Angular version are highlighted below.</p>
                <br>
                <br>
                <h4 class="text-warning">Angular 7 Highlights</h4>
                <br>
                <p>Though there are not a lot of new updates & features launched in this release, but there are certainly some useful upgrades for Angular front-end developers including improvements to Angular Material and the core framework, CLI with synchronized major versions, and upgrades to the toolchain.

                    The Angular JS 7 version is primarily focused on the Ivy project, which has been going on since past release.
                    
                    The Ivy project is basically rewriting the Angular compiler and runtime code to make it better, faster, and smaller.
                    
                    While the Ivy is still not ready for the prime time yet, but back in April, there were a lot of rumors & fake news about Ivy as well as many other Angular features, which are now nowhere to be seen.
                    
                    Let’s also take a look at some of those fake news and rumors that was intended as an April fool joke back then.
                    
                    </p>
        </div>
    </div>
</div>
