<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img src="/assets/net1.jpg" width="100%">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="/assets/net2.jpg" width="100%">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="/assets/net3.jpg" width="100%">
                </div>
    </div>
    <br>
    <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="/assets/net4.jpg" width="100%">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="/assets/net5.jpg" width="100%">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                        <img src="/assets/net6.jpg" width="100%">
                    </div>
        </div>
</div>
