<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <br>
            <h1 class="text-danger">ContactUs</h1>
            <p>At last! The wait is finally over! The latest version of Angular is out!

                    We have awaited this moment since weeks, but now the Angular 7 is finally here, packed with exciting new features that have been promising to make the wait worthwhile!
                    
                    angular virtual scroll drag drop main
                    
                    In fact, we, as a prominent web development company, are extra-excited about this version since it’s a major release that implements a good number of new features, changes, and performance improvements throughout the entire Angular platform.
                    
                    These updates mainly include the Angular Material & CDK, performance improvements and the CLI prompts.
                    
                    Now, before we dive into the details, let’s take a quick look at recent history of Angular’s versions.</p>
                <br>
                    <h4 class="text-primary">History of angular’s versions</h4>
                    <br>
                    <p>Note: If you already know the history of Angular, or if you do not wish to get into past details, please skip this part and move on to the next – Angular 7 Highlights.

                        As most of you already know, Angular is one of the most popular front-end JavaScript framework besides Vue.js and React.
                        
                        It has been around for past 10 years, and since then, it has gone through innumerable upgrades.
                        
                        The first version of the framework was called AngularJS, which was launched in 2009.
                        
                        Though it was certainly not a perfect framework back then, mainly due to its large bundle size, performance issues, and other technical problems.
                        
                        But that imperfection was the motivation behind the entire rewrite of the AngularJS.
                        
                        Due to the not-at-all-perfect & failed attempt, the developers at Google decided to use really powerful libraries.
                        
                        And not only that, but over time, they also added new features such as AOT (Ahead-of-Time) compiling, tree-shaking, and many other helpful features.
                        
                        </p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
