<br>
<br>
<br>
<br>

<div class="container">
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <button routerLink='contactus'><img src="/assets/c.png" width="50%">
                <u class="text-primary">ContactUs</u></button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
                <button routerLink='aboutus'><img src="/assets/a.png" width="50%">
                    <u class="text-primary">AboutUs</u></button>
            </div>
    </div>
</div>
<router-outlet></router-outlet>
